
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 175%;
    text-align: center;
}

body{
    margin: 15px;
}

h2 {
    font-size: 125%;
    float: right;
    text-align: center;
    border: 1px black solid;
    width: 100px;
    margin: 0px;
}

#chicken h2 {
    background-color: purple;
}

#beef h2 {
    background-color: burlywood;
}

#sushi h2 {
    background-color: greenyellow;
}

p {
    clear: both;
    padding: 10px;
}

section {
    margin: 15px;
    border: 1px solid black;
    background-color: grey;
}

div {
    float: left;
}


@media (min-width: 992px) {
    div {
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width:991px) {

    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }

}

@media (max-width: 767px) {
    div{
        width: 100%;
    }
}